* {
    margin: 0;
    padding: 0;
}

/*Navbarre*/
.navbarre_header {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 15px;
}

.navbarre_header ul {
    display: flex;
    justify-content: space-between;
}

.navbarre_logo {
    padding-top: 2px;
    width: 12rem;
}

.navbarre_utilisateurimg {
    width: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;

}

.navbarre_header li {
    display: inline;
}

svg {
    padding-top: 1rem;
    padding-left: 1rem;
}

/*Barre de recherche*/
.search-icon {
    font-size: 20px;
    margin-right: 5px;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0;
    padding-left: 10px;
}
.search-box input {
    border: none;
    outline: none;
    flex-grow: 1;
}

/*Liste restaurants*/
:root{
    --first-color-green : #BBCD49;
    --second-color-beige : #FBF5DF;
    --third-color-yellow : #FDD937;
    --fourth-color-saumon : #F57653;
}

.list-resto{
    display : flex;
    flex-direction: column;
}

.card-resto{
    display : flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    margin : 1rem;
    flex-direction: column;
    justify-content: flex-start ;
}

.nom-resto, .description-resto{
    padding : 0.5rem;
    padding-left : 1rem;
}

.img-resto{
    width : 100%;
    border-radius: 1rem;
}

.card-resto ul li {
    padding-left : 2rem;
    display : block;

}
