* {
    margin: 0;
    padding: 0;
}

/*Navbarre*/
.navbarre_header {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 15px;
}

.navbarre_header ul {
    display: flex;
    justify-content: space-between;
}

.navbarre_logo {
    padding-top: 2px;
    width: 12rem;
}

.navbarre_utilisateurimg {
    width: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;

}

.navbarre_header li {
    display: inline;
}

svg {
    padding-top: 1rem;
    padding-left: 1rem;
}

/*Barre de recherche*/
.search-icon {
    font-size: 20px;
    margin-right: 5px;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0;
    padding-left: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.search-box input {
    border: none;
    outline: none;
    flex-grow: 1;
}
.search-box button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    padding: 5px 10px;
    margin: 0;
    border-radius: 20px;
    border: 1px solid #ccc;
    height: 2rem;
    width: 3rem;
}

/*Liste restaurants*/
:root{
    --first-color-green : #BBCD49;
    --second-color-beige : #FBF5DF;
    --third-color-yellow : #FDD937;
    --fourth-color-saumon : #F57653;
}

.list-resto{
    display : flex;
    flex-direction: column;
}

.card-resto{
    display : flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    margin : 1rem;
    flex-direction: column;
    justify-content: flex-start ;
}

.nom-resto, .description-resto{
    padding : 0.5rem;
    padding-left : 1rem;
}

.img-resto{
    width : 100%;
    border-radius: 1rem;
}

/*Button catégories */


.button_cat {
  text-align: center;
  display: flex;
}

.button_cat img {
  max-width: 97%;
  height: auto;}

.card-resto ul li {
    padding-left : 2rem;
    display: block;
}
/*Carrousel*/

.carrousel {
    margin: 0;
    margin-top: 10px;
}

.elem-carrousel{
    display : flex;
    justify-content: space-around;
    background: linear-gradient(#FFFFFF,#796d45);
    padding-top : 0.2rem;
    padding-bottom: 0.2rem;
}
.fleche-droite, .fleche-gauche{
    margin-left: 1rem;
    margin-right:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-carrousel {
    padding: 1rem;
    max-height: 10rem;

}

.elem-carrousel main {
    background-color: var(--second-color-beige);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
}

.titre-elem-carrousel {
    text-align: center;
}

.image-fleche-gauche,
.image-fleche-droite {
    height: 1.5rem;
    width: 1.5rem;

}


/*Footer*/
footer {
    background-color: #FBF5DF;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer img {
    height: 40px;
}

.footer p {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
    margin-right: 5px;

}